# Fichiers sensibles
.env
.env.local
.env.*.local

# Dépendances
node_modules/

# Logs
*.log
npm-debug.log*

# Fichiers système
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
dist/
build/
coverage/
